<div class="container-fluid">
<ng-progress></ng-progress>
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/28fcadb7-d123-4b32-86d5-e3a02f9d2b06.jpeg" alt="Profile Photo" class="profile">
            <h1 class="h1">Tech_Night</h1>
            <p class="">Cliffordmorara47</p>
            <p class="p1">Don't write a code that you cannot debug <br> tomorrow</p>
            <div class="form-group">
                <button class="btn btn-dark">Edit Profile</button>
            </div>
        </div>
        <div class="col-md-9">
            <h6 class="overview"><span class="span">Over</span> view</h6>
            <div class="card-header main-card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cards" data-aos="fade-up">
                            <div class="card card-header">
                                <p>Sturdy_Quotes</p>
                                <small>Is an angular app that shows a display of different quotes posted by different
                                    authors. A
                                    user
                                    can also create a quote and post it in the site.</small>
                                <ul>
                                    <li>Angular</li>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-up" data-aos-offset="200">
                            <div class="card card-header">
                                <p>Delani Studio</p>
                                <small>Delani studio is a site that showcases our efforts in editing other people's
                                    work. </small>
                                <ul>
                                    <li>JavaScript</li>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-right" data-aos-offset="200">
                            <div class="card card-header">
                                <p>Gif_app</p>
                                <small>Is an angular app that uses a giphy API to display gifs</small>
                                <ul>
                                    <li>Angular</li>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-right" data-aos-offset="200">
                            <div class="card card-header">
                                <p>Deploy</p>
                                <small>Is maent to illustrate deploying an angular project to github and have a it
                                    published in Gh-pages</small>
                                <ul>
                                    <li>Angular</li>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cards" data-aos="fade-up">
                            <div class="card card-header">
                                <p>30-Days-Of-JavaScript
                                </p>
                                <small>30 days of JavaScript programming challenge is a step by step guide to learn
                                    JavaScript programming language in 30 days. This challenge may take up to 100 days,
                                    follow your own pace.</small>
                                <ul>
                                    <li>JavaScript</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-up" data-aos-offset="200">
                            <div class="card card-header">
                                <p>AOS</p>
                                <small>Forked from michalnik/aos. <br>Shows on how to initiate animate on scroll in a
                                    any website</small>
                                <ul>
                                    <li>JavaScript</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-left" data-aos-offset="200">
                            <div class="card card-header">
                                <p>Aztecs_Gaming</p>
                                <small>My first Independent project in Moringa School.</small>
                                <ul>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cards" data-aos="fade-left" data-aos-offset="200">
                            <div class="card card-header">
                                <p>Goals_system</p>
                                <small>Is a project for Moringa school curriculum. An illusration project purely for
                                    understanding th concept.</small>
                                <ul>
                                    <li>Angular</li>
                                    <li>HTML</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>