<div class="row">
    <div class="col-md-3">
        <div class="card-header card-one">
            <div class="img">
                <img src="{{user.avatar_url}}" alt="Profile Photo" class="profile">
            </div>
            <h1 class="h1">{{user.name}}</h1>
            <p class="">{{user.login}}</p>
            <p class="p1">{{user.bio}}</p>
            <p><small>{{user.followers}} following | {{user.following}} followers</small></p>
            <h4>{{user.public_repos}} Public Repos</h4>
        </div>
    </div>
</div>